<div class="container mt-3 pl-1">
    <h5 class="sidebar-major-category mb-2">集計</h5>
    <div class="d-flex flex-column">
        <label class="">集計一覧</label>
    </div>
    
    <h5 class="sidebar-major-category mb-2 mt-3">コンテンツ管理</h5>
    <div class="d-flex flex-column">
        <label class=""><%= link_to "都道府県(大エリア)管理", dashboard_large_areas_path %></label>
        <label class=""><%= link_to "エリア(中エリア)管理", dashboard_middle_areas_path %></label>
        <label class=""><%= link_to "ジャンル管理", dashboard_genres_path  %></label>
        <label class=""><%= link_to "店舗情報管理", dashboard_restaurants_path %></label>
    </div>
    
    <h5 class="sidebar-major-category mb-2 mt-3">ユーザー管理</h5>
    <div class="d-flex flex-column">
        <label class=""><%= link_to "ユーザー管理", dashboard_users_path %></label>
        <label class=""><%= link_to "投稿管理", dashboard_posts_path %></label>
        <label class=""><%= link_to "コメント管理", dashboard_comments_path %></label>
    </div>
    
    <h5 class="sidebar-major-category mb-2 mt-3">その他</h5>
    <div class="d-flex flex-column">
        <label class=""><%= link_to "お問い合わせ管理", dashboard_contacts_path %></label>
        <label class=""><%= link_to "管理者一覧", dashboard_admins_path %></label>
    </div>
</div>