<div class="container mt-3 pl-1">
    <h5 class="sidebar-major-category mb-2">集計</h5>
    <div class="d-flex flex-column">
        <label class="">集計一覧</label>
    </div>
    
    <h5 class="sidebar-major-category mb-2 mt-3">コンテンツ管理</h5>
    <div class="d-flex flex-column">
        <label class=""><%= link_to "都道府県(大エリア)管理", dashboard_large_areas_path, class: "" %></label>
        <label class=""><%= link_to "エリア(中エリア)管理", dashboard_middle_areas_path, class: "" %></label>
        <label class=""><%= link_to "ジャンル管理", dashboard_genres_path,class: "" %></label>
        <label class=""><%= link_to "店舗情報管理", dashboard_restaurants_path,class: "" %></label>
    </div>
    
    <h5 class="sidebar-major-category mb-2 mt-3">ユーザー管理</h5>
    <div class="d-flex flex-column">
        <label class=""><%= link_to "ユーザー管理", dashboard_users_path,class: "" %></label>
        <label class=""><%= link_to "投稿管理", dashboard_posts_path,class: "" %></label>
        <label class=""><%= link_to "コメント管理", dashboard_comments_path,class: "" %></label>
    </div>
    
    <h5 class="sidebar-major-category mb-2 mt-3">その他</h5>
    <div class="d-flex flex-column">
        <label class="">お問い合わせ管理</label>
        <label class="">利用規約設定</label>
        <label class="">プライバシーポリシー設定</label>
        <label class="">My Gourmet概要ページ設定</label>
        <label class="">管理者管理</label>
    </div>
</div>