<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-5">
            <h4 class="my-3 heading">会員情報編集</h4>
            
            <hr>
            
            <%= form_with model: @user, url: mypage_edit_users_path, local: true, method: :put do |f| %>
            
            <!--ユーザー名編集部分-->
            <div class="form-group">
                <%= f.label :name, "ユーザー名", class: "col-form-label" %>
                <!--ユーザー名を表示-->
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-9 collapse show userName my-1">
                        <h3 class="user-info text-truncate"><%= @user.name %></h3>
                    </div>
                    <!--ユーザー名編集時に表示される部分-->
                    <div class="col-lg-9 collapse editUserName my-1">
                        <%= f.text_field :name, class: "name-form form-control #{ "is-invalid" if @user.errors.messages[:name].any? }",
                            required: "required", autocomplete: "name", placeholder: "グルメ太郎" %>
                        
                        <!--エラー発生時はエラーメッセージを表示-->
                        <% if @user.errors.messages[:name].any? %>
                          <span class="invalid-feedback">
                             <% @user.errors.full_messages_for(:name).each do |message| %>
                               <stronng><%= message %></stronng><br>
                             <% end %>
                          </span>
                        <% end %>
                    </div>
                    <div class="d-flex col-lg-2 justify-content-end align-items-center my-1">
                        <div class="collapse editUserName">
                            <%= f.submit "保存", class: "btn btn-danger" %>
                        </div>
                        <span onclick="switchEditUserInfo('.userName', '.editUserName', '.userNameEditLabel');" class="userNameEditLabel edit-label btn btn-outline-dark text-nowrap ml-2">
                          編集
                        </span>
                    </div>
                </div>
            </div>
            
            <hr>
            
            <!--メールアドレス編集部分-->
            <div class="form-group">
                <%= f.label :email, "メールアドレス", class: "col-form-label" %>
                <!--メールアドレスを表示-->
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-9 collapse show userEmail my-1">
                        <h3 class="user-info text-truncate"><%= @user.email %></h3>
                    </div>
                    <!--メールアドレス編集時に表示される部分-->
                    <div class="col-lg-9 collapse editUserEmail my-1">
                        <%= f.text_field :email, class: "form-control #{ "is-invalid" if @user.errors.messages[:email].any? }",
                            required: "required", autocomplete: "email", placeholder: "mygourmet@example.com" %>
                        <!--エラー発生時はエラーメッセージを表示-->
                        <% if @user.errors.messages[:email].any? %>
                          <span class="invalid-feedback">
                             <% @user.errors.full_messages_for(:email).each do |message| %>
                               <stronng><%= message %></stronng><br>
                             <% end %>
                          </span>
                        <% end %>
                    </div>
                    <div class="d-flex col-lg-2 justify-content-end align-items-center my-1">
                        <div class="collapse editUserEmail">
                            <%= f.submit "保存", class: "btn btn-danger" %>
                        </div>
                        <span onclick="switchEditUserInfo('.userEmail', '.editUserEmail', '.userEmailEditLabel');" class="userEmailEditLabel edit-label btn btn-outline-dark text-nowrap ml-2">
                          編集
                        </span>
                    </div>
                </div>
            </div>
            
            <% end %>
            
            <hr>
            
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#cancelMembershipModal" id="cancel-membership">
                  退会する
                </button>
            </div>
            
            
            <!-- Modal -->
            <%= form_with model: @user, url: mypage_delete_users_path, method: :delete, local: true do |f| %>
                <div class="modal fade" id="cancelMembershipModal" tabindex="-1" aria-labelledby="cancelMembershipModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="cancelMembershipModalLabel">本当に退会しますか？</h5>
                      </div>
                      <div class="modal-body">
                        一度退会するとデータはすべて削除され、元に戻すことはできません。
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal" id="cancel">キャンセル</button>
                        <button type="submit" class="btn btn-danger">退会する</button>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<%= javascript_include_tag "users/edit" %>