<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-5">
            <h4 class="my-3">マイページ</h4>
            
            <hr>
            
            <%= link_to mypage_my_gourmet_list_users_path, class: "link" do %>
                <!--<div class="container">-->
                        <div class="row">
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <i class="fas fa-heart fa-3x mypage-icon"></i>
                            </div>
                            <div class="col-9 d-flex ml-2">
                               <div class="d-flex flex-column menu">
                                   <h4 class="menu">食べたい物リスト</h4>
                                   <h6 class="menu-explanation">あなただけの食べたい物リストをご覧になれます</h6>
                               </div>
                            </div>
                        </div>
                <!--</div>-->
            <% end %>
        
            <hr>
            
            <%= link_to mypage_post_list_users_path, class: "link" do %>
                    <div class="">
                        <div class="row">
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <i class="fas fa-list-ul fa-3x mypage-icon"></i>
                            </div>
                            <div class="col-9 d-flex ml-2">
                               <div class="d-flex flex-column">
                                   <h4 class="menu">過去の投稿一覧</h4>
                                   <h6 class="menu-explanation">あなたの過去の投稿の確認、編集ができます</h6>
                               </div>
                            </div>
                        </div>
                    </div>
            <% end %>
        
            <hr>
            
            <%= link_to mypage_edit_users_path, class: "link" do %>
                    <div class="">
                        <div class="row">
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <i class="fas fa-user fa-3x mypage-icon"></i>
                            </div>
                            <div class="col-9 d-flex ml-2">
                               <div class="d-flex flex-column">
                                   <h4 class="menu">会員情報編集</h4>
                                   <h6 class="menu-explanation">アカウント情報の編集、退会する場合はこちらから</h6>
                               </div>
                            </div>
                        </div>
                    </div>
            <% end %>
        
            <hr>
            
            <%= link_to mypage_edit_password_users_path, class: "link" do %>
                    <div class="">
                        <div class="row">
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <i class="fas fa-lock fa-3x mypage-icon"></i>
                            </div>
                            <div class="col-9 d-flex ml-2">
                               <div class="d-flex flex-column">
                                   <h4 class="menu">パスワード変更</h4>
                                   <h6 class="menu-explanation">パスワードの変更はこちらから</h6>
                               </div>
                            </div>
                        </div>
                    </div>
            <% end %>
            
            <hr>
            
            <%= link_to logout_path, class: "link" do %>
                    <div class="">
                        <div class="row">
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <i class="fas fa-sign-out-alt fa-3x mypage-icon"></i>
                            </div>
                            <div class="col-9 d-flex ml-2">
                               <div class="d-flex flex-column">
                                   <h4 class="menu">ログアウト</h4>
                                   <h6 class="menu-explanation">ログアウトする場合</h6>
                               </div>
                            </div>
                        </div>
                    </div>
            <% end %>
        
            <hr>
        
        </div>
    </div>
</div>


