<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9 mb-5">
            <div class="d-flex justify-content-between pt-3">
                <h4 class="heading"><%= @user.name %> の投稿一覧</h4>
                <h4 class="heading">全<%= Post.where(user_id: @user.id).count %>件</h4>
            </div>
            
            <hr>
            
            <!--投稿一覧部分-->
            
            <% @posts.each do |post| %>
              <div class="row d-flex mb-3 px-3">
                <div class="col-lg-10 p-0">
                  <article class="card article d-flex flex-row row mx-3">
                      <div class="col-lg-5 p-0">
                        <%= link_to post_path(post), class: "link" do %>
                        <!--画像-->
                        <% if post.image.present? %>
                          <%= image_tag post.image.to_s, class: "img-fluid food-img w-100" %>
                        <% else %>
                           <img src="/images/pizza.jpg" alt="..." class="img-fluid">
                        <% end %>
                      </div>
                       
                        <div class="article-info col-lg-7 d-flex flex-column w-100">
                          <div class="food-info">
                            <!--料理名-->
                            <h3 class="title mb-1 text-nowrap text-truncate"><%= post.title %></h3>
                            <!--ジャンル名-->
                            <small class="genre"><%= post.genre.name %></small>
                            <!--店の住所が登録されていれば表示-->
                            <% if post.restaurant_id != nil && post.restaurant.address != nil %>
                              <p class="address text-nowrap text-truncate"><%= post.restaurant.address %></p>
                            <% else %>
                              <p class="address text-nowrap text-truncate"></p>
                            <% end %>
                          </div>
                      <% end %>
                          <div class="sub-article-info">
                            <hr class="mt-lg-2 my-1">
                            <div class="d-flex justify-content-between">
                              <!--ユーザー名 - 投稿日-->
                              <div class="text-muted my-0"><%= post.user.name %> - <%= l post.updated_at %></div>
                              <!--食べたい数-->
                              <div id="favorite_<%= post.id %>", class="mr-3 mb-1">
                                <%= render partial: "favorites/favorites", locals: { post: post } %>
                              </div>
                            </div>
                          </div>  
                        </div>
                    </article>
                </div>
                <div class="col-lg-1 d-flex align-items-center">
                    <%= link_to "編集", edit_post_path(post), method: :get, class: "btn btn-sm text-nowrap mr-1" %>
                    <%= link_to "削除", post_path(post), method: :delete, data: {confirm: "この投稿を削除しますか？"}, class: "btn btn-sm btn-outline-danger text-nowrap" %>
                </div>
              </div>
            <% end %>
          
          <%= paginate @posts %>
            
        </div>
    </div>
</div>


