<div class="col-lg-10 p-0">
    <h4 class~"mb-0 heading">エリア(中エリア)管理</h4>
    
    <hr>
    <div class="mt-4">
      <%= link_to "エリア(中エリア)新規作成", new_dashboard_middle_area_path, class: "btn btn-warning mb-5 col-lg-3" %> 
      <!--エリア（中エリア）一覧検索フォーム-->
      <%= form_with url: dashboard_middle_areas_path, method: :get, local: true do |f| %>
        <%= f.label "都道府県", class: "col-form-labl pr-0" %>
        <div class="col-lg-7 mb-3 px-0">
            <%= f.collection_select :large_area_id, @large_aeas, :id, :name, { selected: params[:large_area_id], include_blank: "選択してください" }, class: "form-control w-100" %>
        </div>
        
        <%= f.label "キーワード", class: "col-form-labl pr-0" %>
          <div class="col-lg-7 mb-3 px-0">
            <%= f.text_field :keyword, value: params[:keyword], class: "form-control w-100", placeholder: "ID、エリア、中エリアコード" %>
          </div>
        <%= f.submit "検索", class: "btn btn-danger col-lg-3" %>
      <% end %>
    </div>
    
    <div class="row d-flex align-items-center mt-3">
        <h5 class="align-middle mb-0 px-3">全<%= @total_count %>件</h5>
    </div>
    <!--エリア（中エリア）一覧-->
    <table class="table mt-3">
      <thead>
        <tr class="table-secondary">
          <th scope="col" class="col-lg-1 pr-0">ID</th>
          <th scope="col" class="col-lg-4 pr-0">エリア</th>
          <th scope="col" class="col-lg-2 pr-0">都道府県</th>
          <th scope="col" class="col-lg-2 pr-0">中エリアコード</th>
          <th scope="col" class="col-lg-1"></th>
          <th scope="col" class="col-lg-1"></th>
        </tr>
      </thead>
      <tbody>
        <% @middle_areas.each do |middle_area| %>
          <tr>
            <td scope="row" class="align-middle"><%= middle_area.id %></td>
            <td class="align-middle pr-0"><%= middle_area.name %></td>
            <td class="align-middle pr-0"><%= LargeArea.find(middle_area.large_area_id).name %></td>
            <td class="align-middle pr-0"><%= middle_area.middle_area_code %></td>
            <td class="align-middle pr-0"><%= link_to "編集", edit_dashboard_middle_area_path(middle_area), class: "btn btn-sm"  %></td>
            <td class="align-middle pr-0"><%= link_to "削除", dashboard_middle_area_path(middle_area), method: :delete, data: { confirm: "#{middle_area.name}を削除しますか？"}, class: "btn btn-outline-danger btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @middle_areas %>
</div>