<div id="app-overview">
  <img src="images/variousfood2.jpg" id="top-image" class="w-100">
  <h2>自分だけの"食べたい物リスト"が作れる</h2>
  <h1 class="logo text-nowrap">My Gourmet</h1>
</div>

<div id="main" class="container">
  <div class="row">
    <!--投稿記事一覧部分-->
    <main id="posts" class="col-lg-7 ml-auto px-0">
      <% @posts.each do |post| %>
          <article class="card article d-flex flex-row row mx-3">
            <div class="col-lg-5 p-0">
              <%= link_to post_path(post), class: "link" do %>
              <!--画像-->
              <% if post.image.present? %>
                <%= image_tag post.image.to_s, class: "img-fluid food-img w-100" %>
              <% else %>
                 <img src="/images/pizza.jpg" alt="..." class="img-fluid">
              <% end %>
            </div>
             
              <div class="article-info col-lg-7 d-flex flex-column w-100">
                <div class="food-info">
                  <!--料理名-->
                  <h3 class="title mb-1 text-nowrap text-truncate"><%= post.title %></h3>
                  <!--ジャンル名-->
                  <small class="genre"><%= post.genre.name %></small>
                  <!--店の住所が登録されていれば表示-->
                  <% if post.restaurant_id != nil && post.restaurant.address != nil %>
                    <p class="address text-nowrap text-truncate"><%= post.restaurant.address %></p>
                  <% else %>
                    <p class="address text-nowrap text-truncate"></p>
                  <% end %>
                </div>
            <% end %>
                <div class="sub-article-info">
                  <hr class="mt-lg-2 my-1">
                  <div class="d-flex justify-content-between">
                    <!--ユーザー名 - 投稿日-->
                    <div class="text-muted my-0"><%= post.user.name %> - <%= l post.updated_at %></div>
                    <!--食べたい数-->
                    <div id="favorite_<%= post.id %>", class="mr-3 mb-1">
                      <%= render partial: "favorites/favorites", locals: { post: post } %>
                    </div>
                  </div>
                </div>  
              </div>
          </article>
      <% end %>
      
    <%= paginate @posts %>  
    </main>
    
    <!--サイドメニュー-->
    <aside id="side" class="col-lg-4">
      <!--ランキング部分-->
      <div class="">
          <h4 class="ranking mb-3"><i class="fas fa-crown crown"></i>&ensp;食べたい数ランキング</h4>
          <ol class="pl-4">
            <% @ranking.each do |ranking| %>
              <%= link_to post_path(ranking), class: "link text-nowrap text-truncate mb-0" do %>
                <li class="ranking-list">
                  <%= ranking.title %>
                </li>
              <% end %>
            <% end %>
          </ol>
      </div>
      
      <hr class="my-4">
      <!--投稿検索部分-->
      <div>
        <h4 class="post-search mb-3"><i class="fas fa-search"></i>&ensp;投稿検索</h4>
        <%= form_with url: posts_path, method: :get, local: true do |f| %>
          <%= render partial: "posts_search_form", locals: { f: f } %>
        <% end %>
          
      </div>
      
      <hr>
      
      <!--ホットペッパーから検索部分-->
      <%= link_to "https://www.hotpepper.jp/index.html", class: "hot link", target: :_blank, rel: "noopener noreferrer" do %>
        <div class="mt-5 d-flex flex-column">
          <div class="d-flex justify-content-center">
            <%= image_tag "/images/hotpepper_logo.jpg", class: "w-75" %>
          </div>
          <h6 class="hot mt-3 text-center">ホットペッパーグルメで食べたい物を探す</h6>
        </div>
      <% end %>
    </aside>
  </div>
</div>

<%= javascript_include_tag "posts/index" %>