<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="posts" method="get">My Gourmet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <!--ユーザーがサインイン状態の場合-->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "新規投稿", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "食べたい物リスト", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "マイページ", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", logout_path, class: "nav-link" %>
        </li>
      <!--ユーザーがサインアウト状態の場合-->
      <% else %>
        <li class="nav-item">
          <%= link_to "新規投稿", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "食べたい物リスト", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規会員登録", signup_path, class: "nav-link" %>
        </li>
      <% end %>
      
    </ul>
  </div>
</nav>