<!--<div class="container">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-sm-8 mt-5">-->
<!--      <h4 class="my-3">パスワード変更</h4>-->
      
<!--      <hr>-->
      
      <!--パスワード変更用フォーム入力部分-->
<!--        <%= form_with model: @user, url: mypage_password_users_path, local: true, method: :put do |f| %>	-->
          
<!--          <div class="form-group row">-->
<!--            <%= f.label :password, "新しいパスワード", class: "col-sm-3 col-form-label" %>-->
<!--              <div class="col-sm-9">-->
<!--                <%= f.password_field :password, class: "form-control #{ "is-invalid" if @user.errors.messages[:password].present? }",-->
<!--                  required: "required", placeholder: "" %>-->
                <!--エラー発生時はエラーメッセージを表示-->
<!--                <% if @user.errors.messages[:password].any? %>-->
<!--                  <span class="invalid-feedback">-->
<!--                     <% @user.errors.full_messages_for(:password).each do |message| %>-->
<!--                       <stronng><%= message %></stronng><br>-->
<!--                     <% end %>-->
<!--                  </span>-->
<!--                <% end %>-->
<!--              </div>-->
<!--          </div>-->
          
<!--          <div class="form-group row">-->
<!--            <%= f.label :password_confirmation, "新しいパスワード(確認用)", class: "col-sm-3 col-form-label" %>-->
<!--              <div class="col-sm-9">-->
<!--                <%= f.password_field :password_confirmation, class: "form-control", required: "required", placeholder: "" %>-->
<!--              </div>-->
<!--          </div>-->
<!--          <small>※パスワードは英数字を含む、8文字以上で入力してください。</small>-->
          
<!--          <div class="form-group mt-5">-->
<!--            <%= f.submit "パスワード変更", class: "btn btn-danger w-100" %>-->
<!--          </div>-->
          
<!--        <% end %>    -->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
